<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
</head>

<body>
    <div>
        {{!-- <img src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" style="height: 200px; object-fit: contain; width: 500px" /> --}}
        <div style="margin-top: 50px; margin: auto; padding: 30px; line-height: 30px;">
            <p>Dear {{userName}},</p>
            <p>Downloading content for {{manufacturer}} has failed. <br>
                
                Here is some details regarding fails: <br>
                Sensor Id: <strong>{{sensorId}}</strong> <br>
                Api Key: <strong>{{apiKey}}</strong> <br><br>
                
                Thanks, <br>
                Afri-SET Logs</p>
        </div>
    </div>
</body>
</html>